html {
    box-sizing: border-box;
    }
  *, *:before, *:after {
    box-sizing: inherit;
    }
html, body {
    min-height: 100vh; 
    padding: 0;
    margin: 0;
    font-size: 50px
}
#red{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(252, 124, 124);
}

#blue{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(88, 88, 255);
}

#green{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(88, 182, 88);
}

#yellow{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 119);
}
#bottom {
    position: relative;
    width: 100%;
    height: 10000px;
    background-color: #f6f9fc;
}
#first{
    position: fixed;
    top: 0px;
    transition: transform .25s;
    left: -500px;
}
#second{
    position: fixed;
    top: 0px;
    transition: transform .25s;
    left: -500px;
}
#third{
    position: fixed;
    top: 0px;
    transition: transform .5s;
    left: -500px;
}
#fourth{
    position: fixed;
    top: 0px;
    transition: transform .5s;
    left: -500px;
}

#first, #second, #third, #fourth {
    margin: 0;
    padding: 0;
}